main{
    min-height: 80vh;
}
footer{
min-height: 10vh;
}
header{
min-height: 10vh;
}

/* @media only screen and (min-width: 320px) and (max-width: 576px) {
    #contenedor-carrusel{
flex-direction: column;
justify-content: center;
    };
  } */

.navbar-nav a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: coral;
    font-weight: 500;
    font-size: 20px;
}
.navbar{
    background-color: white;
    /* background: rgb(236,0,93);
    background: radial-gradient(circle, rgba(236,0,93,1) 16%, rgba(193,0,62,1) 50%, rgba(216,2,105,1) 63%, rgba(8,0,4,1) 99%); */
}
#enlaces-navegacion a{
    position: relative;
    display: block;
    padding: 5px;

}
#enlaces-navegacion a:hover{
    color:coral;
}
.bi{
    color:rgb(187, 10, 54);
}
#carrusel{
    width:700px;
}
#tarjetas-inicio img{
    width: 260px;
    height: 128.05px;
    border: 2px solid;
    box-shadow: 12px 12px 10px 0 rgba(22, 18, 18, 0.308);
}
#tarjetas-inicio .card{
    width: 280px;
    /* height: 160px; */
    background-color: white;
}
#tarjetas-inicio .card:hover{
    scale: 105%;
   transition: 0.3S;
}
#contenedor-carrusel{
    background-image: url(./assets/img/My\ project-1.png);
    background-size: contain;
    background-repeat: repeat;
    /* background: rgb(221, 100, 20 );
    background: radial-gradient(circle, rgba(236,0,93,1) 16%, rgba(193,0,62,1) 50%, rgb(199, 102, 12) 63%, rgba(8,0,4,1) 99%); */
}
footer{
    color: rgb(214, 65, 19);
    background-color: black;
}
.contenedor-pie-iconos .icono{
cursor: pointer;
}
#texto-pie{
    font-size: 30px;
    cursor: pointer;
}
/* #menu a {
    position: relative;
    display: block;
    padding: 5px;
  } */
  
.navbar-nav a::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  
  .navbar-nav a:hover::before {
    transform: scaleX(1);
  }
#tabla-estadistica th{
color: coral;
}
#tabla-estadistica tbody tr td:hover{
background-color: rgba(177, 34, 77, 0.842);
}

@media (min-width: 1200px){
    #titulo-panel{
        width: 50%;
    }
}

  @media (min-width: 0px) and (max-width: 1199.98px) { 
    #contenedor-carrusel{
        flex-direction: column;
        align-items: center;
    }
    .carousel {
        width: 75%;
        height: 50%;
        padding-bottom: 10px;;
    }
    #titulo-panel{
        width: 100%;
        height: 25%;
    }
   }
   @media (min-width: 0px) and (max-width: 600px){
    .contenedor-pie-iconos{
gap: 5px;
    }
   }
@media (min-width:0px) and (max-width: 768px){
    .contenedor-formulario{
        justify-content: flex-start;
    }
    .formulario{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    }
}