main{
    min-height: 80vh;
}
footer{
min-height: 10vh;
}
header{
min-height: 10vh;
}

/* @media only screen and (min-width: 320px) and (max-width: 576px) {
    #contenedor-carrusel{
flex-direction: column;
justify-content: center;
    };
  } */

.navbar-nav a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: coral;
    font-weight: 500;
    font-size: 20px;
}
.navbar{
    background-color: white;
    /* background: rgb(236,0,93);
    background: radial-gradient(circle, rgba(236,0,93,1) 16%, rgba(193,0,62,1) 50%, rgba(216,2,105,1) 63%, rgba(8,0,4,1) 99%); */
}
#enlaces-navegacion a{
    position: relative;
    display: block;
    padding: 5px;

}
#enlaces-navegacion a:hover{
    color:coral;
}
.bi{
    color:rgb(187, 10, 54);
}
#carrusel{
    width:700px;
}
/* #titulo-panel{
    background-image: url("../img/My\ project-1.png");
    background-size:cover;
    height: 100%;
} */
#tarjetas-inicio img{
    width: 260px;
    height: 128.05px;
    border: 2px solid;
    box-shadow: 12px 12px 10px 0 rgba(22, 18, 18, 0.308);
}
#tarjetas-inicio .card{
    width: 280px;
    /* height: 160px; */
    background-color: white;
}
#tarjetas-inicio .card:hover{
    scale: 105%;
   transition: 0.3S;
}
#btn-tarjetas:hover{
    color: #682686;
}
#contenedor-carrusel{
    background-image: url("../img/My\ project-1.png");
    background-size: contain;
    background-repeat: repeat;
    /* background: rgb(221, 100, 20 );
    background: radial-gradient(circle, rgba(236,0,93,1) 16%, rgba(193,0,62,1) 50%, rgb(199, 102, 12) 63%, rgba(8,0,4,1) 99%); */
}
footer{
    color: rgb(214, 65, 19);
    background-color: black;
}
.contenedor-pie-iconos .icono{
cursor: pointer;
}
#texto-pie{
    font-size: 30px;
    cursor: pointer;
}
/* #menu a {
    position: relative;
    display: block;
    padding: 5px;
  } */
  
.navbar-nav a::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  
  .navbar-nav a:hover::before {
    transform: scaleX(1);
  }
#contenedor-tabla-estadisticas
 h2{
background-color: rgb(230, 93, 150);
}
#tabla-estadistica tbody tr td:hover{
background-color: rgba(177, 34, 77, 0.842);
}

@media (min-width: 1200px){
    #titulo-panel{
        width: 100%;
    }
.form-busqueda input, 
 .form-busqueda button{
    height: 100%;
 }
}

  @media (min-width: 0px) and (max-width: 1199.98px) { 
  
.formulario-categorias{
width: 30%;
}
/* #contenedor-carrusel{
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#carrusel {
    width: 75%;
    height: 50%;
    padding-bottom: 10px;
}
#titulo-panel{
    width: 100%;
    height: 100%;
    align-self: center;
} */
#enlaces-navegacion{
    font-size: 150px;
}

   }
   
   @media (min-width: 0px) and (max-width: 600px){
    .contenedor-pie-iconos{
gap: 5px;

    }
    
   }
@media (min-width:0px) and (max-width: 768px){
    .contenedor-formulario{
        justify-content: flex-start;
    }
    .formulario{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    }
   
}
@media (min-width:650px){
    .formulario-busqueda{
       justify-content: center;
       height: 50%;
       
    }
    /* .formulario-categorias{
    } */
    .formulario-busqueda input, 
    .formulario-busqueda button{
       height: 50%;

    }
}

@media(min-width:0px) and (max-width:649px){
    /* .seccion-cuerpo{
        display: flex;
        justify-content: center;
    } */
 
    .contenedor-categ-busqueda{
        width: 100%;
    }
.formulario-busqueda{
    height: 15%;
    justify-content: end;
    width: 50%;
}
.formulario-busqueda input, 
.formulario-busqueda button{
   height: 10%;

}
}

@media (min-width: 1440px){
    #titulo-panel{
        justify-content: center;
        align-items: center;
    }
#titulo-panel h2{
font-size: 80px;
    }
#carrusel{
        width: 60%;
    }
}


@media (min-width: 500px) and (max-width: 850px){
 
    #contenedor-carrusel{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-items: center;
       margin-right: 150px;
       
}
#carrusel{
    width: 50%;
}
.cuerpo-home{
    width: 380px;
    justify-content:space-between;
}

}
@media  (min-width:850px){
    #titulo-panel{
        justify-content: center;
        align-content: center;
    }
    #titulo-panel h2{
        font-size: 60px;
        align-self: center;
    }
}

@media(max-width:400px){
    footer{
        padding-top: 15px;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        padding-bottom: 10px;
            }
            #carrusel{
                align-self: center;
            }
}