main{
    min-height: 80vh;
}
footer{
min-height: 10vh;
}
header{
min-height: 10vh;
}

/* @media only screen and (min-width: 320px) and (max-width: 576px) {
    #contenedor-carrusel{
flex-direction: column;
justify-content: center;
    };
  } */

.navbar-nav a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: coral;
    font-weight: 500;
    font-size: 20px;
}
.navbar{
    background-color: white;
    /* background: rgb(236,0,93);
    background: radial-gradient(circle, rgba(236,0,93,1) 16%, rgba(193,0,62,1) 50%, rgba(216,2,105,1) 63%, rgba(8,0,4,1) 99%); */
}
#enlaces-navegacion a{
    position: relative;
    display: block;
    padding: 5px;

}
#enlaces-navegacion a:hover{
    color:coral;
}
.bi{
    color:rgb(187, 10, 54);
}
#carrusel{
    width:700px;
}
/* #titulo-panel{
    background-image: url("../img/My\ project-1.png");
    background-size:cover;
    height: 100%;
} */
#tarjetas-inicio img{
    width: 260px;
    height: 128.05px;
    border: 2px solid;
    box-shadow: 12px 12px 10px 0 rgba(22, 18, 18, 0.308);
}
#tarjetas-inicio .card{
    width: 280px;
    /* height: 160px; */
    background-color: white;
}
#tarjetas-inicio .card:hover{
    scale: 105%;
   transition: 0.3S;
}
#btn-tarjetas:hover{
    color: #682686;
}
#contenedor-carrusel{
    background-image: url("../img/MyProject-1.png");
    background-size: contain;
    background-repeat: repeat;
    /* background: rgb(221, 100, 20 );
    background: radial-gradient(circle, rgba(236,0,93,1) 16%, rgba(193,0,62,1) 50%, rgb(199, 102, 12) 63%, rgba(8,0,4,1) 99%); */
}
footer{
    color: rgb(214, 65, 19);
    background-color: black;
}
.contenedor-pie-iconos .icono{
cursor: pointer;
}
#texto-pie{
    font-size: 30px;
    cursor: pointer;
}
/* #menu a {
    position: relative;
    display: block;
    padding: 5px;
  } */

.navbar-nav a::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }

.navbar-nav a:hover::before {
    transform: scaleX(1);
  }
#contenedor-tabla-estadisticas
 h2{
background-color: rgb(230, 93, 150);
}
#tabla-estadistica tbody tr td:hover{
background-color: rgba(177, 34, 77, 0.842);
}
#regreso{
    justify-self: start;
}

@media (min-width: 1200px){
    #titulo-panel{
        width: 100%;
    }
.form-busqueda input,
 .form-busqueda button{
    height: 100%;
 }
}
@media(min-width:0px) and (max-width:270px){
    #contenedor-categorias{
        width:100%;
    }
    .formulario-categorias{
        width:100%;
    }
}
@media(min-width:271px) and (max-width:500px){
    #contenedor-categorias{
        width:50%;
    }
    .formulario-categorias{
        width:100%;
    }
}
@media(max-width: 750px) {
    .cuerpo-home{
        flex-direction: column-reverse;
        align-content: center;
        gap: 20px;
        width: 100%;
    }
    .contenedor-categ-busqueda{
        padding-right: 10px;
        padding-left: 10px;
    }
    #tarjetas-inicio{
        border: #682686 solid 2px;
    }
.formulario-categorias fieldset{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}
.formulario-categorias, .form-busqueda{
width: 100%;
}
#contenedor-categorias{
    width:50%;
}
}
/* @media(min-width:7500px) and (max-width:900px){
    #contenedor-categorias{
        width:70%;
    }
    .formulario-categorias, .form-busqueda{
        padding:0px;
        margin:0px;
    }
}  */
@media (min-width:460px){
    .form-busqueda{
        width: 50%;
        justify-content: flex-start;
    }
    #buscador{
    
        width: 50%;
    }
}
@media (min-width: 751px){
    .cuerpo-home{
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 35px;
        padding-right: 35px;
    }
    .formulario-busqueda{
        height: 50%;
        width: 70%;
        justify-content: end;
    }
    #buscador{
        width: 50%;
    }       
    #btn-buscador{
        width: 30%;
    }
}


   @media (min-width: 0px) and (max-width: 600px){
    .contenedor-pie-iconos{
gap: 5px;
    }
   }
@media (min-width:0px) and (max-width: 450px){
    .contenedor-formulario{
    padding-right: 15px;
    padding-left: 15px;
    }
    .formulario{
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    }
}
@media (min-width:451px)and(max-width:900px){
    .contenedor-formulario{
    width: 100%;
    justify-content: center;
    }
    .formulario{
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    }
}
@media (min-width:901px){
    .contenedor-formulario{
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
    }
    .formulario{
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    }
}

@media (min-width: 1440px){
    #titulo-panel{
        justify-content: center;
        align-items: center;
    }
#titulo-panel h2{
font-size: 80px;
    }
#carrusel{
        width: 60%;
    }
}

@media (min-width: 500px) and (max-width: 850px){

    #contenedor-carrusel{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin-right: 150px;

}
#carrusel{
    width: 50%;
}

}
@media  (min-width:850px){
    #titulo-panel{
        justify-content: center;
        align-content: center;
    }
    #titulo-panel h2{
        font-size: 60px;
        align-self: center;
    }
}

@media(max-width:400px){
footer{
        padding-top: 15px;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        padding-bottom: 10px;
            }
#carrusel{
align-self: center;
            }
}

@media(min-width:900px){
    
    #contenedor-cardDetail{
        width: 75%; 
    }
    .contenedor-detalle,
    .contenedor-img-detalle{
    width: 100%;
    }
    .contenedor-img-detalle img{
        width: 100%;
        image-orientation: flip;
    }
}
@media(min-width:0px) and (max-width:900px){
    .contenedor-detalle{
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .contenedor-detalle,
    .contenedor-img-detalle,
    #contenedor-cardDetail,
    .contenedor-img-detalle img {
        width: 100%;
        padding-top: 10px;

    }
    .cont-titulo-fecha-detalle{
        flex-direction: column;
        align-items: start;
        width: 100%;
    }

}